<div style= "font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: 'center'; width: '100vh'; height: '100vh'">
  <h1>Welcome to Battle</h1>
  <h3>Enter your names below</h3>
  <form action= "/names" method= "post">
    <label for="player1">
      Player 1: <input type= "text" name= "player1">
    </label>
    <label for="player2">
      Player 2: <input type= "text" name= "player2">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>
